---
import Layout from '@layouts/Layout.astro';
import type { Client } from '@lib/sanityApi';
import { getClients, getPage } from '@lib/sanityApi';
import SanityPortableText from '@components/SanityPortableText.astro';
import ScrollDownButton from '@components/ScrollDownButton';
import Services from '@components/Services.astro';
import CaseStudies from '@components/CaseStudies.astro';
import Clients from '@components/Clients';
import About from '@components/About.astro';

const pageTitle = 'Home';
const { hero, section } = await getPage(pageTitle);
// console.log({ hero, section });

const clients = await getClients();
// console.log({ clients });

const createGroupsOfSlides = async (clients: Client[]): Promise<Client[][]> => {
  let res: Client[][] = [];
  // console.log('clients: ', clients);
  for (let i = 0; i < clients.length; i += 8) {
    // console.log("clients.slice: ", clients.slice(i, i + 8));
    res.push(clients.slice(i, i + 8));
  }
  // console.log('all slides: ', res);
  return res;
};

const slides = await createGroupsOfSlides(clients);
let slideMin: number = 0,
  slideMax: number = Math.ceil(clients.length / 8) - 1;
// console.log({ slideMin, slideMax, slides });
---

<Layout>
  <!-- Header Image -->
  <section id='section-hero-image' class='w-full h-screen'>
    <!-- Hero Image -->
    <div
      class='flex overflow-hidden absolute w-full h-screen'
      style='max-width: none; transform: scale(1)'
    >
      <img src={hero.image.url} class='object-cover z-0 h-full w-full' />
    </div>

    <!-- Hero Image Title -->
    <div
      class='flex overflow-hidden absolute w-full h-screen z-10'
      style='height: 100vh'
    >
      <div
        class='flex flex-col relative items-start justify-center min-w-0 ml-28 w-2/5 left-0'
      >
        <h1
          class='text-white bg-indigo-800 font-medium sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl px-8 py-4 rounded-3xl'
        >
          <SanityPortableText portableText={hero.title} />
        </h1>
        <h2
          class='text-indigo-800 font-medium sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl pt-4 px-8'
        >
          <SanityPortableText portableText={hero.description} />
        </h2>
      </div>
    </div>

    <!-- Hero Image Attribution -->
    <div
      class='flex overflow-hidden absolute w-full h-screen z-20'
      style='max-width: none; transform: scale(1)'
    >
      <div
        class='flex flex-col relative items-end justify-end min-w-0 mr-8 mb-4 w-full right-0'
      >
        <span class='text-xs text-white'
          >Photo by
          <a class='cursor-pointer hover:underline' href={hero.image.owner_url}>
            {hero.image.owner_name}
          </a>
          on
          <a
            class='cursor-pointer hover:underline'
            href={hero.image.source_url}
          >
            {hero.image.source_name}
          </a>
        </span>
      </div>
    </div>

    <!-- Scroll Down Button -->
    <ScrollDownButton client:only='react' id='section-services' />
  </section>

  <!-- Our Services -->
  <section id='section-services' class='flex flex-col relative py-12 px-9'>
    <header class='flex max-w-7xl mx-auto h-auto'>
      <h2 class='flex justify-center text-gray-500 mb-7 text-2xl'>
        {section[0].header.title}
      </h2>
    </header>
    <article class='flex flex-col max-w-7xl mx-auto h-auto'>
      <div class='flex justify-center text-black pb-8 text-lg items-center'>
        <SanityPortableText portableText={section[0].content.description} />
      </div>
      <div class='flex justify-center text-gray-500 mb-7 text-xl items-center'>
        <Services columns={4} />
      </div>
    </article>
  </section>

  <!-- Our Work -->
  <section id='section-work' class='flex flex-col relative py-12 px-9'>
    <header class='flex max-w-7xl mx-auto h-auto'>
      <h2 class='flex justify-center text-gray-500 mb-7 text-2xl'>
        {section[1].header.title}
      </h2>
    </header>
    <article class='flex flex-col max-w-7xl mx-auto h-auto'>
      <div class='flex justify-center text-black pb-8 text-lg items-center'>
        <SanityPortableText portableText={section[1].content.description} />
      </div>
      <div class='max-w-7xl w-full mx-auto h-auto pt-8'>
        <CaseStudies featured={true} columns={2} />
      </div>
      <p class='flex w-full justify-end pt-4 text-gray-500 mb-7 text-2xl'>
        <a
          href='/work/case-studies'
          class='inline-flex items-center px-0 py-2 font-normal leading-5 text-gray-500 text-lg border-b pb-1 border-transparent hover:border-b hover:border-gray-500 transition duration-300 ease-in-out'
        >
          All case studies
          <svg
            class='inline-block w-5 h-5 ml-1 cursor-pointer text-gray-300'
            fill='1'
            viewBox='4 4 12 12'
            stroke='white'
          >
            <path
              style='fill: rgba(55, 48, 163, 1)'
              class='ml-2'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='1'
              d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
            ></path>
          </svg>
        </a>
      </p>
    </article>
  </section>

  <!-- Our Clients -->
  <section
    id='section-clients'
    class='flex flex-col relative bg-gray-200 py-12 px-9'
  >
    <header class='flex max-w-7xl mx-auto h-auto'>
      <h2 class='flex w-full justify-center text-gray-500 mb-7 text-2xl'>
        {section[2].header.title}
      </h2>
    </header>
    <article class='flex flex-col max-w-7xl mx-auto h-auto'>
      <div class='flex justify-center text-black pb-8 text-lg items-center'>
        <SanityPortableText portableText={section[2].content.description} />
      </div>
    </article>
    <div class='max-w-7xl w-full mx-auto h-auto'>
      {
        slides.length > 0 && (
          <Clients
            client:only='react'
            slides={slides}
            slideMin={slideMin}
            slideMax={slideMax}
          />
        )
      }
    </div>
  </section>

  <!-- Our Thinking -->
  <!-- <section
    id="sectionThinking"
    class="flex flex-col relative w-full h-auto pt-12 pr-9 pb-9 pl-9"
  >
    <h2 class="flex w-full justify-center text-gray-500 mb-8 text-xl">
      {{ page.titleThinking }}
    </h2>
    <p class="flex w-full justify-center text-black text-lg items-center pb-8">
      {{ page.descriptionThinking }}
    </p>
    <div
      class="flex w-full justify-center text-gray-500 mb-7 text-xl items-center"
    >

    </div>
  </section> -->

  <!-- About Us -->
  <section id='section-about' class='flex flex-col relative py-12 px-9'>
    <header class='flex max-w-7xl mx-auto h-auto'>
      <h2 class='flex w-full justify-center text-gray-500 mb-7 text-2xl'>
        {section[3].header.title}
      </h2>
    </header>
    <article class='flex flex-col max-w-7xl mx-auto h-auto'>
      <div class='flex justify-center text-black pb-8 text-lg items-center'>
        <SanityPortableText portableText={section[3].content.description} />
      </div>
      <div class='flex flex-col w-full h-auto pt-8'>
        <About />
      </div>
    </article>
  </section>
</Layout>
