---
import { getCaseStudies } from '@lib/sanityApi';
import SanityPortableText from './SanityPortableText.astro';

const { featured, columns } = Astro.props;
const data = await getCaseStudies(featured);
// console.log({ data });

const colWidth = 'width: calc(' + 100 / columns + '% - 2rem)';
---

<div class='flex flex-wrap -m-4'>
  {
    data &&
      data.map((case_study: any) => (
        <a
          class='flex m-4'
          style={colWidth}
          href={`/work/case_studies/${case_study.slug}`}
        >
          <div
            class='flex flex-col bg-white hover:bg-gray-200 cursor-pointer transition duration-200 ease-in-out'
            style='height: 640px'
          >
            <div class=''>
              <img
                class='flex w-full h-full'
                src={case_study.hero.hero_image.url}
              />
            </div>
            <div class='flex flex-col m-4'>
              <h2 class='flex mb-1 text-3xl text-indigo-800'>
                {case_study.title}
              </h2>
              <p class='flex text-2xl text-gray-700 font-light'>
                <SanityPortableText portableText={case_study.description} />
              </p>
            </div>
          </div>
        </a>
      ))
  }
</div>
